@import url(./global.css); 

.section_4{
    width: 700px;
    /* border: 2px solid black; */
    height: fit-content;
}

.section_4 .owl-carousel-container .ifirst_con .img-container{
    width: 25%;
}

@media only screen and (max-width: 768px) {
    .section_4{
        width: 50%;
    }
    .section_4 .owl-carousel-container .ifirst_con .img-container{
        width: 75%;
    }
}
