@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    /* Global colours */
    --palette-black:#000000;
    --palette-white:#FFFFFF;
    --palette-fontblue: #0D65D9;
    --palette-boxbackgroudblue: #E7F0FC;
    --palette-greyfont: #97A4AF;

    /* Global fonts */
    --fs-roboto-400: 'Roboto';
}

*{
  margin: 0px;
  padding: 0px;
  font-family: var(--fs-roboto-400);
}

.header{
z-index: 2;
  position: sticky;
  display: flex;
  margin: 10px 0px;
  justify-content: space-around;
  align-items: center;
  top: 0;
  box-sizing: border-box;
  max-width: 100vw;
  background-color:  white;
  opacity: 0.8;
  
}

.navbar ul{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}
.header img{
  width: 100px;
  height: auto;
  margin: 20px 0px 0 0;
  
}
.navbar ul li{
  box-sizing: border-box;
  list-style: none;
  margin: 0px 20px;
  font-size: 20px;
  font-style:normal;
  text-transform: capitalize;
  padding: 2px 8px;
  cursor: pointer;
}
.navbar ul li a{
  text-decoration:none;

  font-size: 16px;
  font-weight: 600;
  color:black;
  
}
.hoverr:hover{
  color: var(--palette-fontblue);
}
.burger{
  position: absolute;
  top: 20px;
  right: 20px;
  height: 20px;
  width: 25px;
  display: none;
}
.line{
  background-color: black;
  width: 20px;
  height: 1px;
  margin: 2px;
  border: 1px black solid;
}
/* .navbar ul li a::before {
  content:'';
  width:0%;
  height:1px;
  display:block;
  background-color: yellowgreen;
  margin-bottom:10px;
}
.navbar ul li a:hover::before {
  width:100%;
  transition:all .5s;
} */

@media only screen and (max-width: 900px) {

  .navbar{
      display: none;
  }
  .navbar ul{
      flex-direction: column;
      
  }
  .header{
      flex-direction: column;
      text-align: left;
      
  }
  .burger{
      position: absolute;
      top: 20px;
      right: 20px;
     cursor: pointer;
      height: 25px;
      width: 25px;
      display: block;
  }
  .displayy{
      display:inline-flex;
  }

  .line0{
      transform: translateY(5px) rotate(45deg);
      background-color: black;
      transition: 0.3s ease-in-out;
  }
  .line1{
      opacity: 0;
      
  }
  .line2{
      background-color: black;
      transform: translateY(-5px) rotate(-45deg);
      transition: 0.3s ease-in-out;
  }
  .navbar ul li a::before {
      width:0%;
      height:0px;
      
  }
  .navbar ul li a:hover::before {
      width:100%;
      transition:all .5s;
  }
  }