@import url(./global.css);

.main_container .column_1 .inner_Container img{
    width: 50px;
    height: 50px;
    align-self: center;
}

.card-title{
    font-weight: 800;
    margin: 10px 0 0 10px;
}

.card-text{
    font-size: 16px;
    color: #51596C;
}